* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* HEADER */

.main-h {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.h-div {
  width: calc(100% / 6 - (10px * 5 / 6));
  height: 100px;
  border: 2px black solid;
}

/* MAIN */

.sec-main {
  padding: 10px;
}

.div-image {
  width: 300px;
  height: auto;
  margin: 30px auto;
  border: 2px black solid;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
}
