* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* HEADER */

.main-h {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: rgb(215, 241, 215);
}

.h-div {
  width: calc(100% / 6 - (10px * 5 / 6));
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: rgb(248, 252, 190);
  border-radius: 15px;
}

.sub-first {
  padding: 10px;
}

.sub-second {
  width: 100%;
}

/* MAIN */

.sec-main {
  padding: 10px;
}

.div-image {
  width: 300px;
  height: auto;
  margin: 30px auto;
  max-width: 100%;
}

.acc {
  transform: translateX(-16px);
}

.spn {
  transform: translateX(30px);
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  max-width: 100%;
  border-radius: 15px;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px) translateX(2px);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 10px black;
}

.accesa {
  color: blue;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: fantasy;
  background-color: rgb(143, 236, 143);
  border: 2px blue solid;
}

.spenta {
  color: rgb(143, 236, 143);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: fantasy;
  background-color: blue;
  border: 2px rgb(143, 236, 143) solid;
}

#counterclick {
  width: 300px;
  margin: 30px auto;
  text-align: center;
}

#boom {
  display: none;
}
