* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* HEADER */

.main-h {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.h-div {
  width: calc(100% / 6 - (10px * 5 / 6));
  height: 100px;
  border: 2px black solid;
}

/* MAIN */

.sec-main {
  padding: 10px;
}

.div-image {
  width: 300px;
  height: auto;
  margin: 30px auto;

  max-width: 100%;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  max-width: 100%;
  border-radius: 15px;
}

.accesa {
  color: blue;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: fantasy;
  background-color: rgb(143, 236, 143);
  border: 2px blue solid;
}

.spenta {
  color: rgb(143, 236, 143);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: fantasy;
  background-color: blue;
  border: 2px rgb(143, 236, 143) solid;
}
